@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Playfair+Display:wght@900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  line-height: 1.40;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  @apply font-black text-black
}

.btn {
  letter-spacing: 0.75px;
  @apply py-4 px-8 font-bold uppercase transition duration-150 inline-block cursor-pointer
}

.btn-primary {
  &:hover {
    @apply bg-white text-black
  }
  @apply bg-black text-white border
}

.btn-secondary {
  &:hover {
    @apply bg-black text-white
  }

  @apply bg-white text-black border
}

.btn-link {
  @apply underline text-blue-500
}

.btn-disable {
  @apply bg-gray-400
}